body {
}

.solid-button.draft {
    background-image: linear-gradient(to bottom, #FCFCFC, #C9C9C9);
    /*color: black;*/
}

div.btn {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    /*color: black;*/
    /*flex-direction: row;*/
}

.end {
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}

.modal-content {
     border: 2px solid lightgrey; 
     border-radius: 10px;
}

.context-menu-list.css-title-toolbox::before {
    content: 'General';
    /*position: relative;
    padding: 0px .9rem;
    font-family: Poppins;
    font-weight: 400;
    font-size: .7rem;
    color: #BEBEBE;*/
}

/*.context-menu-list.css-title-General::after {
    position: relative;
    content: 'Pur';
    padding: 0px .9rem;
    font-family: Poppins;
    font-weight: 400;
    font-size: .7rem;
    color: #BEBEBE;
}*/